@import url(fonts.css);


:root {
    --body: #fff;
    --txt-color: #323232;
    --dots-color: #828282;
    --dots-color-active: #7177F1;
    --footer-link-color: #7177F1;
    --primary-color: #7177F1;
    --primary-font: 'Montserrat';
    --secondary-font: 'Trebuchet';
}

body {
    font-family: var(--primary-font);
    background: var(--body);
    color: var(--txt-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.all-btn {
    background: var(--primary-color);
    width: 190px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    color: #fff !important;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    transition: .4s;
    padding: 12px 0;
}

.all-btn:hover {
    background: #790FF1;
    color: #fff;
}

.title {
    font-size: calc(28px + 12 * (100vw / 1920));
    font-weight: 600;
    color: var(--primary-color);
    line-height: 125%;
}

/* header start */
@keyframes rotate {
    0% {
        transform: rotate(0) scale(1.2);
        filter: hue-rotate(0);
    }

    15% {}

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(180deg);
    }

}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.header__link {
    color: var(--primary-color);
    font-size: 24px;
}

.header__menu {
    width: 30px;
    height: 2px;
    position: relative;
    border: none;
    transition: .4s;
    padding: 0;
    ;
}

.header__menu:focus {
    box-shadow: unset;
}

.header__menu.collapsed {
    background: var(--txt-color);
}

.header__menu::after,
.header__menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: var(--txt-color);
    transition: .4s;

}

.header__menu::after {
    top: 10px;
}

.header__menu::before {
    top: -10px;
}

.header__menu:not(.collapsed)::before {
    transform: rotate(45deg);
    top: 0;
}

.header__menu:not(.collapsed)::after {
    transform: rotate(-45deg);
    top: 0;
}

.header__carousel-img {
    max-width: 500px;
}

.header__content-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--txt-color);
    text-transform: capitalize;
    margin-bottom: 10px;

}

.header__content-title {
    margin-bottom: 25px;
}

.header__content-btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 50px;
    display: block;
}

.header__tech-card {
    display: grid;
    place-items: center;
    row-gap: 15px;
}

.header__tech-name {
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
}

.header__tech-card:nth-of-type(1) {
    color: #E44F26;
}

.header__tech-card:nth-of-type(2) {
    color: #1572B6;
}

.header__tech-card:nth-of-type(3) {
    color: #790FF1;
}


.header__carousel-indicators {
    position: static;
    margin: 50px 0 0 !important;
    order: 1;
    gap: 30px;
}

.header__carousel-dot {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: var(--dots-color) !important;
    opacity: unset !important;
    margin: 0 !important;
}

.header__carousel-dot.active {
    background-color: var(--dots-color-active) !important;
}

.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border: .3vw solid #790FF1;
    top: 32px;
    left: 243px;
    border-radius: 50%;
    animation: rotate 2s linear infinite alternate;
    z-index: -1;
}

.header__nav::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: .3vw solid #9297EF;
    top: 92px;
    left: 17px;
    animation: rotate 2s linear infinite alternate;
    z-index: -1;
}

.header__content::before {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: .3vw solid #790FF1;
    top: 92px;
    right: 100px;
    animation: rotate 2s linear infinite alternate;
    z-index: -1;
}

.header__content::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: .3vw solid #9297EF;
    top: 60%;
    right: 200px;
    animation: rotate 2s linear infinite alternate;
    z-index: -1;
}

/* header end  */
/* about start  */
.about {
    padding: 70px 0 90px;
    position: relative;
}

.about::after {
    content: url(../img/svg/figure_1.svg);
    position: absolute;
    top: -65%;
    right: 0;
    z-index: -1;
}

.about__work {
    line-height: 100%;
    padding: 24px 20px;
    position: relative;
    transform: translateY(100%);
    display: block;
}

.about__work-span {
    width: 40px;
    height: 40px;
    font-style: italic;
    border-radius: 50%;
    background: #0FDAC2;
    font-size: 18px;
    font-weight: 700;
    display: grid;
    place-items: center;
    position: absolute;
    top: -14px;
    right: -14px;
}

.about__desc {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px #7177F126;
    border-radius: 8px;
    padding: 30px;
    display: grid;
    row-gap: 25px;
}


/* about end  */
/* capabilities start */
.row {
    row-gap: 20px;
}
.capabilities {
    padding-bottom: 75px;
}

.capabilities__title {
    padding-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

.accordion__item:nth-of-type(1) .accordion__button.collapsed .accordion__brand {
    color: #E44F26;
}

.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__brand {
    color: #1572B6;
}

.accordion__item:nth-of-type(3) .accordion__button.collapsed .accordion__brand {
    color: #790FF1;
}

.accordion {
    box-shadow: 0px 0px 5px 3px #7177F126;
    border-radius: 8px;
    overflow: hidden;
}

.accordion__button {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    width: 100%;
    border: 0;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 15px 30px;
    transition: .4s;
}

.accordion__body {
    background: var(--primary-color);
    color: #fff;
    padding: 25px 30px;
    font-size: 18px;
    line-height: 150%;
}
.accordion__button.collapsed {
    background: var(--body);
    color: var(--primary-color);
}
.accordion__icon-down  {
    font-size: 25px;
    transform: rotate(180deg);
    transition: .5s;
}
.accordion__button.collapsed .accordion__icon-down {
    transform: rotate(0);
}
.capabilities__img{
    max-width: 550px;
    width: 100%;
}
.accordion__item:nth-child(1) {
    border-bottom: 2px solid #fff;
}
.accordion__item:nth-child(2) {
    border-bottom: 2px solid #fff;
}
.accordion__item:nth-child(1).accordion__button .collapsed  {
    opacity: 0;

}
.accordion__item:nth-child(2).accordion__button .collapsed  {
    opacity: 0;

}
 
/* capabilities end */